.header-container {
    display: flex;
}

.timer-container {
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
}

.view-highscores {
    padding: 20px;
    text-align: left;
    border: none;
    color: rgba(110, 1, 110, 0.644);
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}

p {
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}

#start-button,
#clear-highscores-button,
.go-back {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(110, 1, 110);
    color: white;
    border: none;
    border-radius: 10%;
    text-decoration: none;
}

#start-button:hover,
#clear-highscores-button:hover,
.go-back:hover {
    background-color: rgba(110, 1, 110, 0.644);
}

.button-container {
    display: flex;
    flex: 0 0 50%;
}